flask
gunicorn
pypdf
python-dotenv

sentence-transformers>=2.6.0
langchain>=0.1.14

pinecone-client[grpc]
langchain-community
langchain-core
langchain-openai
langchain-experimental
langchain-pinecone

huggingface-hub
faiss-cpu
